body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 66;
    background-color: black;
    color: white;
    font-size: 4rem;
    scale: 3;
    transition: opacity 400ms ease-in-out, rotate 400ms ease-in-out;
}

#cta {
    font-weight: 900;
    border: none;
    background-color: blue;
    color: white;
    width: 7rem;
    height: 7rem;
    font-size: 1.5rem;
    border-radius: 100%;
    position: absolute;
    top: 13rem;
    right: 8rem;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    color: white;
    padding: 1rem 3rem 0 3rem;

}

.navlink {
    text-decoration: none;
    color: white;
    margin-left: 3rem;

}

.navlink:hover {
    text-decoration: underline;
    color: rgb(0, 255, 30);
    cursor: pointer;
}

.logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0 0 3rem 0;
    margin: 0;
    background-image: radial-gradient(circle, rgb(57, 57, 57), black);

    img {
        width: 22rem;
    }
}

.languages {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    height: 4rem;
    gap: 0.4rem;

    img {
        height: 3.5rem;
        width: 3.5rem;
        z-index: 10
    }
}

.loading {
    position: absolute;
    left: 0;
    background-color: rgb(0, 255, 30);
    border-radius: 20px;
    width: 17.4rem;
    height: 4rem;
    overflow: hidden;
    z-index: 1;
}

.loadingBar {
    position: absolute;
    width: 0.1rem;
    background-color: white;
    box-shadow: 0 0 0.3rem 0.3rem WHITE;
    height: 100%;
    animation: whiteBar 4s infinite linear;
    z-index: 5;
}

@keyframes whiteBar {
    0% {
        left: -1rem;
    }

    100% {
        left: 17.5rem;
    }
}

.aboutMe {
    position: absolute;
    top: -150px;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
    width: 44rem;
}

.myName {
    font-size: 3.7rem;
}

.highlight {
    font-weight: 900;
    color: rgb(0, 255, 30);
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 100vw;
    background-image: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb');
    background-size: cover;

    img {
        height: 15rem;
        width: 22rem;
        border: solid black;
    }

}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    z-index: -1;
}


.ftr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem 3rem;
    width: 100%;
    box-shadow: 0 0 0.4rem 0rem;

    a {
        text-decoration: none;
        color: rgb(255, 255, 2 55);
    }

    img {
        width: 2em;
        margin-left: 1rem;
    }
}

@media (max-width:723px) {
    .nav-button {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .nav {
        align-items: flex-start;
        text-align: right;
    }

    #cta {
        width: 5rem;
        height: 5rem;
        font-size: 1.0rem;
        top: 14rem;
        left: 3rem;
    }


    .languages {
        height: 2rem;
        gap: 0.4rem;
        margin-top: 0.5rem;

        img {
            height: 2.2rem;
            width: 2.2rem;
        }
    }

    .loading {
        width: 11.4rem;
        height: 3rem;
    }

    .aboutMe {
        top: -9rem;
        color: white;
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.4rem;
        width: 90vw;
    }

    .myName {
        font-size: 2.7rem;
    }

    .about {
        img {
            height: 12rem;
            width: 17rem;
        }
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
        z-index: -1;
    }
}


@media (max-width:420px) {

    .aboutMe {
        top: -9rem;
        color: white;
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 2.4rem;
        width: 90vw;
    }

    #cta {
        left: 2rem;
    }

    .myName {
        font-size: 2.4rem;
    }

    .about {

        img {
            height: 7rem;
            width: 10rem;
        }
    }

    .ftr {
        padding: 0.4rem 1.8rem;

    }
}

@media (max-width:1100px) {

    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
        z-index: -1;
    }


    .greetings {
        font-size: 2rem;
    }

}